<strong>Olá, {{ deliveryman }}</strong>
<p>Cancelamos uma encomenda após você registrar um problema na entrega:</p>

<br />
<strong>Descrição do problema: </strong>
<p>
  {{ description }}
</p>

<br />
<strong>Detalhes da entrega:</strong><br />

<p>
  Produto: {{ product }}.<br />
  Data de retirada: {{ startDate }}.<br />
  <br /><br />
  <small>
    Agradeçemos por nos informar.
  </small>
</p>
